

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f1f1f1;
}
.card {
    background: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
table {
    width: 100%;
    background: white;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
